div, p, a, input, button, h1, h2, h3, h4, h5, h6 {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arvo', serif;
	text-transform: uppercase;
}

a, p {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-decoration: none;
}

input {
    color: #000;
}

body {
	background: url('../img/background.webp') #462e3d no-repeat fixed center center;
	color: #fff;
	font-family: 'Arvo', serif;
	padding-bottom: 20px;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 20px;
}

.restrict-width {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background: rgba(0,0,0,0.3);
	padding: 20px 0;
}

.header h1 {
	color: #fff;
}

.header h1, .header h2 {
	margin: 0;
}

.header-item {
	display: inline-block;
	margin-right: 20px !important;
	color: #bbb;
}

.header-item-active {
	color: #fff;
}

.header-item:hover {
	color: #ed1c24;
}

.hero {
	width: 100%;
	text-align: center;
}

.title {
	width: 100%;
	color: #fff;
}

.title > img {
	max-width: 100%;
}

.title > span {
	display: none;
}

.hero-center {
	padding-top: 5vh;
}

.select-box-grid {
	margin-top: 5vh;
}

.select-box {
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
	background: #ed1c24;
	background-size: cover;
	min-height: 30vh;
	color: #000;
}

.tram-red {
	color: #ed1c24;
}

.center-me {
	text-align: center;
}

.select-box p {
	color: #000;
}

.select-box-a .select-box:hover {
	background: #7100fd;
}

.select-box-a:hover .select-box p, .select-box-a:hover .select-box h2 {
	color: #fff;
}

.artist-box-grid {
	font-size: 0.8em;
}

.artist-box {
	padding: 20px;
}

.artist-name {
	background: #ed1c24;
	display: block;
	padding: 10px;
	cursor: pointer;
}

.day-heading {
	font-family: 'Arvo', serif !important;
	padding: 10px;
	background: #ed1c24;
	text-transform: uppercase;
}

.schedule-artist-grid .artist-box {
	padding: 5px;
}

.artist-schedule-box {
	background: rgba(0,0,0,0.3);
}

.artist-schedule-box p {
	padding: 10px;
	margin: 0;
}

.schedule-table {
	overflow-x: scroll;
	font-size: 0.8em;
	position: relative;
}

.artist-cell, .padding-cell {
	border: 1px solid rgba(255,255,255,0.3);
}

.timing-row > th {
	background: rgba(0,0,0,0.5);
	font-family: 'Arvo', serif;
	font-weight: normal;
	min-width: 40px !important;
	position: relative;
	left: -21px;
}

.artist-cell {
	background: #ed1c24;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	padding: 5px;
}

.artist-cell-selected {
	background: #47B334;
}

.venue-cell {
	background: rgba(0,0,0,0.6);
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
	padding: 5px;
	position: absolute;
	left: 0;
	width: 200px;
	border: 1px solid #000;
}

.venue-cell-move-down {
	position: relative;
	top: 13px;
	z-index: 10;
}


.artist-name-selected {
	background: #47B334;
}

.artist-box h3 {
	margin: 0;
}

@media (max-width: 48em) {
	.container {
		padding: 0 10px;
	}
	
	.header {
		text-align: center;
	}
	
	.header-item {
		display: block;
	}
	
	.hide-mobile {
		display: none;
	}
}